.card{
        width: 22rem;
        background-color: rgb(209, 209, 137);
        color: #222;
        font-weight: 100;
        box-shadow: 3px 3px 6px 6px rgba(15, 15, 15, 0.4);
        
    }
#table{
        color: #222;
        background-color:beige;
        box-shadow: 3px 3px 6px 6px rgba(15, 15, 15, 0.4);
    }
span{
        font-size: 3em;
    }
.row{
        display: flex;
        align-items: center;
}
/* h3{
        box-shadow: 3px 3px 6px 6px rgba(15, 15, 15, 0.4);
} */