.box{
    width: 250px;
    background-color: rgb(49, 43, 43);
    float: left;
    border-radius: 5px;
    padding: 20px;
    margin: 18px;
}

p, .box ul{
    font-size: 14px;
    text-align: center;
}
.headings{
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    font-style: italic;
}
hr{
    background-color: gray;
}
#post-container{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
ul{
    list-style: lower-alpha;
}